/*CSS Styling of the Menupage*/

body {
    margin: 0;
    font-family: "Fjalla One", sans-serif;
    padding:0;
    background-color:#1B1C1D;
}

.header{
    color: whitesmoke;
    text-align: left;
    box-shadow: 0px 0px 10px black;
    text-shadow: 0px 5px 5px black;
    position: relative;
}
.header img{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px; 
    height: auto;
    padding:20px;
}
.header h1 {
    margin: 0;
    font-size: 30px;
    padding: 20px;
    background-color:#C8102E;
}

.navigation ul {
    margin: 0;
    text-align: left;
    padding: 0;
    background-color: #960C22;
}

.navigation ul li {
    display: inline;
    margin: 0;
}

.navigation ul li a {
    font-size: 20px;
    transition: color .5s;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin: 0;
}

.navigation ul li a:hover {
    color: rgba(255, 255, 255, 0.664);
}

.navigation ul li.active a {
    color: #f2c641;
}

h2{
    font-size: 50px;
    color: #e81313;
    text-align:center;
    text-shadow: 0px 5px 5px black;
    margin-bottom:10px;
}

.title p{
    text-align: center;
    text-shadow: 0px 5px 5px black;
    font-size:20px;
    color:whitesmoke;
    margin-top:10px;
}

.title{
    background-image: url("../Images/wallpaper.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
    margin:0;
    box-shadow: 0px 0px 10px black;
    padding:50px;
    
}

.container{
    width:90%;
    margin:50px auto;
    text-align: center;
    list-style:none;
    box-sizing:border-box;
    text-shadow: 0px 5px 5px black;
    color:whitesmoke;

}
/* Food Tabs Styling*/
.list{
    display:flex;
    justify-content:center;
    margin-bottom:50px;
}
.list li {
    margin: 0px 15px;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.5s;
    text-shadow: 0px 0px 10px grey;
}

.list li:hover {
    color: rgba(255, 255, 255, 0.664) !important; 
}
/*Food Menu Styling*/
.content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
}
.box{
    width:32%;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:whitesmoke;
    animation: displayable 1s ease-in-out;
}
.box .image{
    width: 35%;
    margin-top:20px;
}
.box img{
    width: 200px;
    height:200px;
    box-shadow: 0px 0px 10px red;
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
}
.box img:hover{
    transform: scale(1.05);
}
.box .text{
    width:60%;
    text-align: left;
    margin-left:55px;
}
.text section{
    padding-top: 10px;
    color:lightgreen;
    font-size: 20px;
    font-weight: 600;
    font-style:italic;
    text-shadow: 0 0 10px green;
}
.text h3{
    font-size: 25px;
    margin-bottom: 2px;
    color:#C8102E;
    text-shadow: 0px 0px 20px red;
}
.text hr{
    border:none; 
    height: 2px;
    background-color: gray; 
    margin: 10px;
    width:200px; 
    margin-left:0px;
}
.text article{
    font-size: 15px;
    color:#595857;
    text-shadow: 0px 0px 10px black;
}
.fa-plus{
    font-size:20px;
    margin-left: 200px;
    box-shadow:0px 0px 5px;
    border-radius:50%;
    padding:5px;
    cursor:pointer;
    transition:1s ease-in-out;
}
.fa-plus:hover{
    box-shadow:rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231,236,236) 0px 0px 0px 3px;
}
@keyframes displayable{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}
/*Cart Sidebar*/
.sidebar{
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #C8102E;
    box-shadow: 0 0 6px black;
    transition: right 0.3s ease-in-out;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 999; 
}
.sidebar.open{
    right:0;
}
.sidebar-close{
    position:absolute;
    right:20px;
    top:10px;
    cursor: pointer;
}
.cart-menu{
    text-shadow: 0 0 5px black;
    color:whitesmoke;
}
.cart-item {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 5px 0;
}
.cart-items{
    display: flex;
    flex-direction: column; 
    padding: 10px 5px;
    border-radius: 5px;
    color: whitesmoke;
    text-shadow: 0 0 5px black;
    border: 1px solid #C8102E;
    max-height: 300px;
    overflow-y: auto; 
}
.cart-item-added {
    animation: displayable 0.5s ease-in-out;
}

.cart-items::-webkit-scrollbar {
    width: 10px;/
}

.cart-items::-webkit-scrollbar-track {
    background: transparent; 
}


.cart-items::-webkit-scrollbar-thumb {
    background: whitesmoke; 
    border-radius: 5px; 
}


.cart-items::-webkit-scrollbar-thumb:hover {
    background: lightgrey; 
}
.cart-item-price{
    color:lightgreen;
    margin-left: 160px; 
    padding-right: 10px;
}
.sidebar-footer{
    position:absolute;
    bottom:50px;
    width:90%;
}
.total-amount h5, .cart-total {
    margin: 0; 
    padding: 0;
    font-size:30px;
    color:whitesmoke;
    text-shadow: 0 0 5px black;
}
.total-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px; 
    padding: 15px 20px; 
    border: 2px solid #960C22;
    background-color: #C8102E; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    color: white; 
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}
.checkout-btn {
    width: 100%;
    margin-top: 2rem;
    background-color: green; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    padding: 15px 20px; 
    font-size: 18px; 
    transition: background-color 0.3s; 
    box-shadow:0 0 10px green;
}

.checkout-btn:hover {
    background-color: darkgreen;
    box-shadow:0 0 10px green;
}


/*Social Media Styling*/
.info{
    background-color: #C8102E;
    padding:25px 60px;
    box-shadow: 0px 0px 10px black;
}
.fa-twitter {
    color: #1DA1F2;
}

.fa-youtube {
    color: red;
}
.fa-instagram{
    color:white;
}
.info {
    position: relative;
}

.icons {
    position: absolute;
    top: 20px;
    right: 20px;
    padding:75px 150px;
    font-size: 30px;
}

.icons a {
    margin-right:5px;
    text-decoration:none;
}
/*Order Button Styling*/

/*Website Resizing*/
